* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height:100%;
    background-color:rgb(200,200,200);
}
body {
    overflow-x:hidden;
}
.clear {
    clear:both;
}
.center {
    padding:0 2%;
    margin:0 auto;
}
header {
    position: relative;
    background-color:#78909c;
    padding:10px 0;
    left:250px;
    width:calc(100% - 250px);
}
.loggout {
    float:right;
}
.loggout a {
    padding:0 20px;
    position:relative;
    top:4px;
    text-decoration:none;
    color:#fff;
    font-size:16px;
}
.loggout a > span{
	font-size: 16px;
	text-decoration: none;
}
nav.menu {
    width:250px;
    height:100%;
    float:left;
    background-color:#455a64;
    padding:10px 0;
    position:fixed;
    left:0;
    top:0;
    overflow-x:hidden;
    overflow-y:auto;
}
.menu-btn{
	float: left;
	cursor: pointer;
	font-size: 23px;
	color: white;
}
.menu-wraper {
    width:250px;
    position: relative;
}
.box-usuario {
    padding:8px;
    text-align:center;
	padding: 8px;
	text-align: center;
}
.avatar-usuario{
    position:relative;
	text-align: left;
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 3px solid #2F3D42;
}
.avatar-usuario i{
    position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-mz-transform:translate(-50%,-50%);
	font-size:50px;
	color: #fff;
}

.imagem-usuario{
	display: inline-block;
	width: 130px;
	height: 130px;
	position: relative;
	border-radius: 50%;
	border: 3px solid #2F3D42;
}

.imagem-usuario img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.nome-usuario{
	text-align: center;
	margin-top: 10px;
}

.nome-usuario p{
	color: white;
	font-size: 15px;
	font-weight: normal;
}
.content{
	width: calc(100% - 250px);
	position: relative;
	left: 250px;
	padding: 2%;
    /*
    height:3000px;
    background-color:green;
    */
}
.box-content{
	background-color: #fff;
	padding: 30px;
	margin-bottom: 25px;
	
}
.box-content h2 {
	font-weight:lighter;
}
.w100{
	width: 100%;
}

.w50{
	width: 48%;
}

.left{
	float: left;
}

.right{
	
	float: right;
}

.items-menu{
	margin-top: 30px;
}
.items-menu h2{
	text-align: left;
	font-weight:300;
	font-size: 17px;
	background: #2F3D42;
	color: white;
	padding:8px;
}

.items-menu a{
	display: block;
	padding: 8px;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid #2F3D42;
}

.box-metricas{
	margin-top:16px;
	padding:0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 33.3%;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,142,29,1) 35%, rgba(0,212,255,1) 100%);
	border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}

.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.box-metrica-wraper h2{
	font-size: 28px;
}

.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 26px;
}
.table-responsive {
	margin:20px auto;
	font-weight:300;;
}
.table-responsive .row:nth-of-type(1){
	font-weight: normal;
	background: #00bfa5;
	padding: 10px;
	color: white;
}
.table-responsive .row{
	color: #777;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}
.col{
	float: left;
	width: 50%;
}
/******EDITAR USUÃRIO*****/
.box-content form{
	margin:30px 0;
}

.box-content form label{
	font-size: 17px;
	font-weight: 300;
	color: black;
	display: block;
}

.box-content .form-group{
	margin:15px 0;
}

.box-content form input[type=text],
.box-content form input[type=password]
{
	margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
}
.box-content form input[type=file]{
	margin-top:8px;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
}

.box-content form input[type=submit]{
	width: 100px;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
	background: #00bfa5;
	color: white;
	border: 0;
}
/*Box de alerta!*/

.box-alert{
	width: 100%;
	padding:8px 0;
	text-align: center;
}

.sucesso{
	background: #a5d6a7;
	color: white;
}

.erro{
	background: #F75353;
	color: white;
}
/*Menu selecionado*/
.menu-active{
	background-color: red !important;
}
.menu-active::before{
	content:'>>';
}
/***ADICIONAR USUARIO****/
.box-content form select{
	margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
}
/****CADASTRAR DEPOIMENTO****/
.box-content form textarea{
	margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 150px;
	border: 1px solid #ccc;
	padding: 8px;
	resize: vertical;
}
/*Tabelas*/

.wraper-table{
	overflow-x: auto;
}

table{
	font-weight: 300;
	min-width: 900px;
	margin:20px 0;
	width: 100%;
	border-collapse: collapse;
}

table tr:nth-of-type(1){
	background: #0091ea;
	color: white;
}

table tr{
	border-bottom: 1px solid #ccc;
}

table tr{
	color: #555;
}

table td{
	padding: 8px;
}



table a.btn{
	font-weight: normal;
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
}

a.btn.edit{background: #F4B03E;}
a.btn.delete{background: #E05C4E;}
a.btn.order{background: #0091ea;}

/*Paginacao*/

.paginacao{
	margin:20px 0;
	text-align: center;
}

.paginacao a{
	font-size: 14px;
	margin:0 8px;
	display: inline-block;
	padding: 3px 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

.paginacao a.page-selected{
	background: rgb(220,220,220);
}


@media screen and (max-width: 1024px){
	.box-metrica-single{
		width: 100%;
	}
}
@media screen and ( max-width:768px ) {
    nav.menu {
        display:none;
    }
    .content {
        width:100%;
        left:0;
    }
    header {
        left:0;
        width:100%;
    }
}
@media screen and (max-width: 500px){
	.w50{
		width: 100%;
	}
	.box-single-metrica{
		width: 100%;
		padding-top: 40%;
	}
}
@media screen and (max-width: 400px){

	.box-metrica-wraper h2{
	font-size: 24px;
	}

	.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 22px;
	}

	.menu-wraper{
		width: 200px;
	}
}